.navbar {
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  width: 95%;
  z-index: 1030;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  user-select: none;
}

.logoImg {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.search {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  display: flex;
  height: 2.5rem;
  margin-left: 1rem;
  padding: 0.5rem;
}

.searchInput {
  border: none;
  flex: 1;
  font-size: 1rem;
  padding: 0.5rem;
}

.searchButton {
  background-color: #fff;
  border: none;
  border-left: 1px solid #dee2e6;
  cursor: pointer;
  height: 100%;
  padding: 0.5rem;
}

.searchButton:hover {
  background-color: #f5f5f5;
}

.searchImg {
  height: 1.5rem;
  width: 1.5rem;
  justify-self: center;
}
